@model IEnumerable<Web.Models.ArtistModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Email Address
        </th>
        <th>
            Cell Phone #
        </th>
        <th>
            Website
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.FirstName.Data
        </td>
        <td>
            @item.LastName.Data
        </td>
        <td>
            @item.Email.Data
        </td>
        <td>
            @item.CellPhone.Data
        </td>
        <td>
            @item.Website.Data
        </td>

    </tr>
}

</table>
