@model IEnumerable<Web.Models.ArtistModel>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Email Address
        </th>
        <th>
            Cell Phone #
        </th>
        <th>
            Website
        </th>
        <th>
            Classification
        </th>
        <th>
            Category
        </th>
        <th>
            Other Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistType.ArtistType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistSubType.ArtistSubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistType.ArtistType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistSubType.ArtistSubType)
            </td>
        </tr>
    }
</table>
