@model Web.Models.ArtistModel
<fieldset>
var action = Html.ViewContext.RouteData.GetRequiredString("action");
            bool questionaireWrite = action.ToLower().Equals("create");
    <div class="editor-label">
        @Html.LabelFor(model => model.ResidentOfWesterville)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ResidentOfWesterville)
        @Html.ValidationMessageFor(model => model.ResidentOfWesterville)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.WorkInWesterville)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WorkInWesterville)
        @Html.ValidationMessageFor(model => model.WorkInWesterville)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BelongToGroups)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.BelongToGroups)
        @Html.ValidationMessageFor(model => model.BelongToGroups)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Groups)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Groups)
        @Html.ValidationMessageFor(model => model.Groups)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Awards)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Awards)
        @Html.ValidationMessageFor(model => model.Awards)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AttendSchoolInWesterville)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.AttendSchoolInWesterville)
        @Html.ValidationMessageFor(model => model.AttendSchoolInWesterville)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Schools)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Schools)
        @Html.ValidationMessageFor(model => model.Schools)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Schools)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Schools)
        @Html.ValidationMessageFor(model => model.Schools)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ImageProvided)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ImageProvided)
        @Html.ValidationMessageFor(model => model.ImageProvided)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Comments)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Comments)
        @Html.ValidationMessageFor(model => model.Comments)
    </div>
</fieldset>
