@model Web.Models.ArtistModel
<div class="editor-label">
    @Html.LabelFor(model => model.ResidentOfWesterville)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.ResidentOfWesterville)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.WorkInWesterville)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.WorkInWesterville)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.BelongToGroups)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.BelongToGroups)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Groups)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Groups)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Awards)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Awards)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.AttendSchoolInWesterville)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.AttendSchoolInWesterville)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Schools)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Schools)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Schools)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Schools)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ImageProvided)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.ImageProvided)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Comments)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Comments)
</div>
